*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #35444b;
}

body{
  font-family: 'palatino', sans-serif; 
  background: #f9f9f9;
  background-color: #d8f4ef;
  background-color: #e6f7f4;
  font-family: 'Work Sans', sans-serif;
}


nav{
  background-color:rgb(51, 206, 180);
  font-size: 1em;
  display: inline-flex;
  padding: 1em;
  margin:1em;
  border-radius: 2em;
  overflow:auto;
  max-width: 80%;
  display: none;
}

nav a{
  
  margin: 0 10px 0 10px;
  padding: 10px;
  border-radius: 5em;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition: background-color .2s;
  text-decoration: none; 
  color:rgb(255, 255, 255)
}

nav a:hover{
  background-color:rgb(110, 238, 238); 
}

.langButtons{
  display:flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-color: rgba(58, 57, 68, 0.103);
  border-radius: 25px;
  cursor: pointer;
  margin-right: 3em;
}
.langButtons input{
  display: none;
}
.lang-change-btn{
font-size: 20px;

}

.lb-lang{
  padding:  1em;
  margin: 0;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #1aacaa;
}

.lb-lang:hover{
  background-color: rgba(255, 255, 255, 0.6);
}

 input:checked + .lb-lang {
  /* background-color: rgba(255, 255, 255, 0.727); */
  background-color: #fff;
  --webkit-box-shadow: 0px 0px 15px -7px rgba(58,57,68,0.6);
  -moz-box-shadow: 0px 0px 15px -7px rgba(58,57,68,0.6);
  box-shadow: 0px 0px 18px -7px rgba(58,57,68,0.6);
}

.menu-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute;
  top: 10px; */
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 2em 0;
  z-index: 6;
  background-color: #fff;

}
.logo-cont{
  position: relative;     
  width: 68px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  animation: round 15s infinite linear;
  cursor: pointer;
  margin-left: 2em;
}


.langButtons button{
  background-color:transparent;
  border: none;
  outline: none;
  margin: 0 0.5em;
  cursor: pointer;
}

.langButtons button:hover, .menu-logo:hover{
  transform: scale(1.12);
}

/**************login**********/
.login-cont{
    width: 500px;
    padding: 2em 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 13px -8px rgba(105,120,119,1);
    -moz-box-shadow: 0px 0px 13px -8px rgba(105,120,119,1);
    box-shadow: 0px 0px 13px -8px rgba(105,120,119,1);
}

.login-cont form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.radio-cont input[type="radio"]{
  display: none;
}


.radio-login-option:checked + .radio-login-label{
  background-color: #39ac99;
  color: #fff;
}
.radio-cont{
  display: flex;
}

.radio-cont label{
  cursor:pointer;
  background-color: #eceeee;
  padding: 0.5em 0;
  width: 150px;
  border-radius: 4px;
  text-align: center;
}
.radio-cont label:hover{
  background-color:#c4ece4 ;
}

.user-login-input{
  width: 315px;
  height: 35px;
  border: 1px solid #bcbdbd;
  padding-left: 5px;
}

.login-cont form button{
  border: none;
  width: 315px;
  height: 35px;
  font-size: 16px;
  margin-top: 1.5em;
  background-color: #1f8271;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.login-cont form button:hover{
  background-color: #39ac99;
}

