.summaryBox {
    border: 2px solid #1aacaa;
    border-radius: 5px;
    margin: 0.5em;
    max-width: 40vw;
    padding: 8px;
}
.summary {
    margin-bottom: 12px;
}
.summaryBox h3 {
    color: #1aacaa;
    margin-bottom: 8px;
}
.summaryData {
    font-weight: bold;
    margin-bottom: 5px;
}
span {
    font-weight: normal;
}

.summaryBtn {
    background-color: #1aacaa;
    border-radius: 10px;
    border-style: none;
    color:white;
    font-weight: bold;
    margin-top: 5px;
    padding: 6px;
    width: 100%;
}

.summaryBtn:hover{
    background-color: #36918f;
}