.datos label{
    display: inline-block;
    width: 150px;
    
}

.urgency-btn{
    width: 9em;
    height: 4em;
    border-radius: 4em;
    color: white;
    font-weight: bolder;
    font-size: 0.8em;
    background-color:rgb(0, 189, 157);
    display: none;
}


.formCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.formCont form{
    margin: auto;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 680px;
    position: relative;
    width: 50%;
    margin-top: 3em;

    --webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 12px;
    width: 560px;
    padding: 3em 0;
}
.btn-cont{
    display: flex;
    width: 90%;
    position: absolute;
    bottom: 2em;
    justify-content: center;
    align-items: center;
}
.btn-next:hover, .btn-prev:hover{
    background-color:#118f8d;
}
.btn-next, .btn-prev{
    border: none;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #1aacaa;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    width: 45%;
    margin: 0 0.5em;
}

.btn-next{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.btn-cont.one-btn .btn-next{
    width: 94%;
    border-radius: 25px;
}


.under-background-form{
    width: 95%;
    margin: auto;
    height: 90vh;
    z-index: 0;
    top: 2em;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.34);
    /* background:linear-gradient(to bottom, rgba(255, 255, 255, 0.34) 90%, #1aacaa 5%) no-repeat; */
    --webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.form-urg-title{
    margin-bottom: 1em;
    text-align: center;
    color: #119f95;
    font-size: 38px;
}

.personal-form, .medical-form, .symptom-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    width:450px;
}
.personal-form section{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    width: 100%;
}
.personal-form section input,.personal-form section label{
    margin: 0.5em 0;
    width: 100%;
    font-weight: 400;
}

.personal-form h3, .symptom-form h3{
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 17px;
}

.formCont form input[type="text"], .formCont form input[type="email"]{
    background-color: #e6e6e7a8;
    border: none;
    outline: none;
    border-radius: 25px;
    height: 45px;
    padding-left: 20px;
    width: 450px;
}

.formCont form input[type="text"]:focus, .formCont form input[type="email"]:focus{
    background-color: #f0f0f0a8;
}

.formCont form input[type="text"]::placeholder, .formCont form input[type="email"]::placeholder{
    /* color: #fff; */
    font-weight: 800;
    color: #000;
}
/*****************************************************/
.radio-options-form-cont input[type="radio"]{
    display: none;
}
.radio-options-form-cont section label{
    width: 46%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: 800;
    border-radius: 25px;
    cursor: pointer;
   margin:0.5em 0;
   font-size: 14px;
   margin-bottom: 1.5em;
   border: 2px solid #dfdfdf;
   color: #9f9f9f;
}

.radio-options-form-cont section label:hover{
    background-color: #e4f4f2;
    border: 2px solid transparent;
}

.radio-options-form-cont section{
    display: flex;
    width: 100%;
    justify-content:space-between;
}

.radio-options-form-cont input[type="radio"]:checked + label{
    background-color: #1aacaa;
    color: #fff;
    border: 2px solid transparent;
}
.more-info-cont{
    display: flex;
    flex-direction: column;
}

.radio-options-form-cont h3{
    
    font-weight: 400;
    margin-top: 1em;
    font-size: 17px;
} 

.radio-options-form-cont:first-child h3{
    margin: 0;
}

.more-info-cont label, .more-info-cont input{
    margin: 0.5em 0;
    margin-top: 0.3em;
}

/*******************************************/
.symptom-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.symptom-options label{
    width: 207px;
    padding:0 0.2em;
    line-height: 20px;
    height: 45px;
    border: 2px solid #dfdfdf;
    color: #9f9f9f;
    text-align: center;
    font-weight: 800;
    border-radius: 25px;
    cursor: pointer;
   margin:0.5em 0;
   font-size: 14px;
   margin-bottom: 1.5em;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.oral-disease-label{
    flex-direction: column;
}

.oral-disease-label span{
    font-size: 10px;
    color: #9f9f9f;
}

.symptom-options input[type="checkbox"]{
    display: none;
}

.symptom-options input[type="checkbox"]:checked + label{
    background-color: #1aacaa;
    border: 2px solid transparent;
    color: #fff;
}

.symptom-options label:hover{
    background-color: #e4f4f2;
    border: 2px solid transparent;
}


.other-label{
    margin: 0.5em 0;
}
/**********************************************************/
.pain-location-cont{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/********************************************************/
.cls-2{fill:#eeffff;stroke:#1aacaa;stroke-miterlimit:10;stroke-width:3px;opacity:0.55;}
.cls-1{fill:#cef1f1;opacity:1;}
.cls-3{fill:#cef1f1;opacity:0.55;}
svg:hover .cls-2{
    fill: #c3f8f1!important;
}

.selected svg .cls-2{
    fill: #1aacaa!important;
}

svg{
    width: 30px;
    cursor:pointer
}

.tb{
    width: 35px;
}

.ts{
    width: 35px;
}

.mouth-cont{
    width: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  
}
.tooth-cont{
  

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/**************************************/
.tooth-cont:nth-child(1){
    width: 60px;
    margin: auto;
}
/**************************************/
.tooth-cont:nth-child(2){
    width: 130px;
    margin: auto;
    position: relative;
    
}

.tooth-cont:nth-child(2) .t:nth-child(1){
    position: absolute;
    top: -28px;
    left: 2px;
}
.tooth-cont:nth-child(2) .t:nth-child(2){
    position: absolute;
   
    top: -28px;
    right: -7px;
}
/**************************************/
.tooth-cont:nth-child(3){
    width: 190px;
    margin: auto;
    position: relative;
   
}
.tooth-cont:nth-child(3) .t:nth-child(1){
    position: absolute;
   left: 2px;
    top: -12px;
}
.tooth-cont:nth-child(3) .t:nth-child(2){
    position: absolute;
   
    top: -12px;
    right: -6px;
}

/**************************************/
.tooth-cont:nth-child(4){
    width: 240px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(4) .t:nth-child(1){
    position: absolute;
   
    top: 9px;
    left: 3px;
}
.tooth-cont:nth-child(4) .t:nth-child(2){
    position: absolute;
    top: 13px;
    right: 0;
}

/**************************************/
.tooth-cont:nth-child(5){
    width: 270px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(5) .t:nth-child(1){
    position: absolute;
    top: 35px;
}
.tooth-cont:nth-child(5) .t:nth-child(2){
    position: absolute;
   
    top: 38px;
    right: 0;
}
/**************************************/
.tooth-cont:nth-child(6){
    width: 300px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(6) .t:nth-child(1){
    position: absolute;
   
    top: 58px;
}
.tooth-cont:nth-child(6) .t:nth-child(2){
    position: absolute;
   
    top: 58px;
    right: 0;
}
/**************************************/
.tooth-cont:nth-child(7){
    width: 310px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(7) .t:nth-child(1){
    position: absolute;
   
    top: 92px;
}
.tooth-cont:nth-child(7) .t:nth-child(2){
    position: absolute;
   
    top: 90px;
    right: 0;
}
/**************************************/
.tooth-cont:nth-child(8){
    width: 320px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(8) .t:nth-child(1){
    position: absolute;
   
    top: 122px;
}
.tooth-cont:nth-child(8) .t:nth-child(2){
    position: absolute;
   
    top: 118px;
    right: 0;
}
.mouth-down{
    transform: rotate(180deg);
    margin-top: 160px;
    border: none;
}

.mouth-separate{
    width: 450px;
    margin: auto;
    margin-top: 160px;
    height: 3px;
    border-radius: 20px;
    background-color: #cef1f1;
}


/***********************/
.signs-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
    padding: 4em 0;
}
.signs-cont h1{
    margin-bottom: 0.3em;
}
.signs-cont p{
    margin-bottom: 2em;
}

.signs{
  
    display: grid;
    grid-template-columns: auto auto auto;
  
    margin-bottom: 3em;
}
.sign-check{
    display: none;
}

.sign-option{
    cursor: pointer;
    display: flex;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    border: 2px solid #cfcff1;
     border-radius: 12px;
    margin: 0.5em;
    font-size: 18px;
}
.sign-check:checked + .sign-option{
    background-color: #909ce6;
    border: 2px solid #909ce6;
    color: #fff;
}
.sign-option:hover{
    background-color: #e4f4f2;
}

.pain-location{
    
    flex-direction: column;
    margin-top: 1.5em;
    
}

.pain-location-title{
    text-align: center;
    margin-bottom: 2em;
   
}
.pain-title{
    text-align: center;
    font-weight: 400;
    font-size: 17px;
}


.background-form{
    width: 50%;
    height: 90vh;
   background-image: url(../img/logo/SVG/Recurso\ 4.svg);
   background-repeat: no-repeat;
   background-position: 1.5em 19em;
   background-size: 90%;
    margin-left: 3em;
    border-radius: 25px;
    margin-top: 2em;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.background-form h1{
    color: #1aacaa;
    font-size: 58px;
    animation: appear 3s;
    margin-top: 4em;
    margin-left: 1.5em;
}

.back{
    width: 150px!important;
}
/*****************************************RESPONSIVE*********************/

@media screen and (max-width:1280px){
    .background-form{
        display: none;
    }
}
@media screen and (max-width:624px){
    .form-urg-title{
        font-size: 25px;
    }

    .pain-title {
        text-align: center;
        width: 50%;
        margin: auto;
      }


    .personal-form, .symptom-options label,.medical-form, .symptom-form, .formCont form input[type="text"], .formCont form input[type="email"]{
        width: 320px;
    }

    .symptom-options label{
        margin: 1em 0;
    }
    .form-urg-title{

        display: flex;
        justify-content: center;
    }


    .formCont{
        width: 100%;
    }
    .formCont form{
        margin-top: 4em;
        width: auto;
        height: auto;
        margin-bottom: 6em;
        padding:  2em;
    }

    .mouth-cont{
        width: auto;
        height: auto;
        margin-bottom: 6em;
        padding:  2em;
    }

    .mouth-separate{
        width: 308px;
    }

    .under-background-form{
        background:none;
        background-color: rgba(255, 255, 255, 0.315);
        filter: blur(2px);
        height: 120%;
        padding-bottom: 9em;
    }

    .symptom-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

   
    .personal-form h3, .symptom-form h3 {
        text-align: center;
        align-self: center;
    }
  
    .btn-cont{
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .btn-prev, .btn-next{
      
        margin: 0;
        border-radius: 0;
        padding: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .btn-cont.one-btn .btn-next {
        width: 100%;
        border-radius: 0;
      }

    .btn-prev{
        background-color: #118f8d;

    }

    .summaryBox{
        width: 380px;
    }
}

@media screen and (max-width:600px){

    body{
        background-color: #fff!important;
    }

    
    .formCont form{
        box-shadow: none;
        padding:  0;
      
    }

}
@media screen and (max-width:420px){
    .personal-form, .symptom-options label, .medical-form, .symptom-form, .formCont form input[type="text"], .formCont form input[type="email"] {
        width: 280px;
      }
}


/* @media screen and (max-width:580px){
    .mouth-separate{
    width: 290px;
    margin-top: 220px;
    }

    
svg{
    width: 40px;
    cursor:pointer
}

.tb{
    width: 45px;
}

.ts{
    width: 35px;
}

.mouth-cont{
    width: 300px;

} */

/**************************************/
/* .tooth-cont:nth-child(1){
    width: 70px;
    margin: auto;
} */
/**************************************/
/* .tooth-cont:nth-child(2){
    width: 145px;
    margin: auto;
    position: relative;
    
}

.tooth-cont:nth-child(2) .t:nth-child(1){
    position: absolute;
    top: -30px;
    left: 5px;
}
.tooth-cont:nth-child(2) .t:nth-child(2){
    position: absolute;
   
    top: -30px;
    right: -12px;
} */
/**************************************/
/* .tooth-cont:nth-child(3){
    width: 200px;
    margin: auto;
    position: relative;
   
}
.tooth-cont:nth-child(3) .t:nth-child(1){
    position: absolute;
   left: 2px;
    top: -12px;
}
.tooth-cont:nth-child(3) .t:nth-child(2){
    position: absolute;
   
    top: -12px;
    right: -12px;
} */

/**************************************/
/* .tooth-cont:nth-child(4){
    width: 250px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(4) .t:nth-child(1){
    position: absolute;
   left: 5px;
    top: 12px;
    
}
.tooth-cont:nth-child(4) .t:nth-child(2){
    position: absolute;
   
    top: 15px;
    right: -5px;
} */

/**************************************/
/* .tooth-cont:nth-child(5){
    width: 260px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(5) .t:nth-child(1){
    position: absolute;
   
    top: 42px;
}
.tooth-cont:nth-child(5) .t:nth-child(2){
    position: absolute;
   
    top: 40px;
    right: -10px;
} */
/**************************************/
/* .tooth-cont:nth-child(6){
    width: 280px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(6) .t:nth-child(1){
    position: absolute;
   
    top: 70px;
}
.tooth-cont:nth-child(6) .t:nth-child(2){
    position: absolute;
   
    top: 65px;
    right: -5px;
} */
/**************************************/
/* .tooth-cont:nth-child(7){
    width: 280px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(7) .t:nth-child(1){
    position: absolute;
   left: -5px;
    top: 115px;
}
.tooth-cont:nth-child(7) .t:nth-child(2){
    position: absolute;
   
    top: 105px;
    right: -10px;
} */
/**************************************/
/* .tooth-cont:nth-child(8){
    width:290px;
    margin: auto;
    position: relative;
}
.tooth-cont:nth-child(8) .t:nth-child(1){
    position: absolute;
   
    top: 157px;
}
.tooth-cont:nth-child(8) .t:nth-child(2){
    position: absolute;
   
    top: 149px;
    right: 0;
}
.mouth-down{
    transform: rotate(180deg);
    margin-top: 220px;
    border: none;
} */
/* } */
