body{
    overflow-x: hidden;
    background-color: #e4f4f2;
    background-repeat: no-repeat;
}


.home-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.home-title-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.home-title-cont h1{
   font-size: 66px;
   text-align: center;
   color: #119f95;
}

.home-description{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 0.5em;
}

.home-options-cont{
    display: flex;
    margin-top: 3em;
}

.home-options-cont .link-cont{
    width: 320px;
    height: 350px;
    border-radius: 12px;
    margin: 1em 2em;
    --webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.home-options-cont .link-cont:hover{
    scale: 1.02;
    outline: none;
}

.home-options-cont .link-cont h3{

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* margin-top: 1em; */
    font-size: 28px;
    color: #119f95;
}

.home-options-cont .link-cont p{
margin-bottom: 2em;
font-size: 14px;
}

.link-cont.urgency {
    background-color: #f05c6c;
    background-color: #f7c1c7;
    background-color: #fff;

}


.top-urgency, .top-link{
    width: 100%;
    /* transform: translate(-100%); */
    height: 6px;
    background-color: #1aacab;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.top-urgency{
    background-color: #f05c6c;
}



@keyframes bordeeer{
    0%{
       transform: translate(-100%);
    }

    100%{
        transform: translate(0);
    }
}

@keyframes gradient-animation {
    0% {
    background: linear-gradient(to bottom, rgb(186, 250, 245) 0%, rgb(186, 250, 245) 75%, white 75%, white 100% );
    background-repeat: no-repeat;
    }
    50% {
     background: linear-gradient(to bottom, rgb(117, 241, 220) 0%,rgb(117, 241, 220) 75%, white 75%, white 100% );
     background-repeat: no-repeat;
    }
    100% {
     background: linear-gradient(to bottom, rgb(157, 221, 213) 0%,rgb(157, 221, 213) 75%, white 75%, white 100% );
     background-repeat: no-repeat;
    }
  }

  @keyframes moveTopDown{
      0%{
          transform: translateY(-2%);
      }
      100%{
          transform: translateY(2%);
      }
  }

.link-cont:hover   .top-link {
    animation: bordeeer 2s forwards;
}
.link-cont.urgency:hover  .top-urgency{
    animation: bordeeer 2s forwards;
}
.link-cont:hover .img-cont::before{
    animation: moveTopDown infinite 1s alternate;
}

.link-cont svg{
    width: 80px;
 
}

.cls-11{fill:#fff;}.cls-22{fill:none;stroke:#00a99d;stroke-miterlimit:10;stroke-width:27px;}.cls-33{fill:#00a99d;}
.cls-11{fill:#fff;}.cls-23{fill:none;stroke:#f05c6c;stroke-miterlimit:10;stroke-width:27px;}.cls-34{fill:#f05c6c;}

.img-cont{
    width: 90%;
    height: 286px;
    position: relative;
    z-index: 2;
    
}

.img-cont::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 258px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/probando.png);
    z-index: 1;
}

.img-date{
    position: absolute;
    z-index: 3;
    right: 2.6em;
    bottom: 7.5em;
}



  /*****************************************RESPONSIVE*********************/

@media screen and (max-width:780px){

    .home-options-cont{
        flex-direction: column;
        margin-bottom: 5em;
    }

  }
@media screen and (max-width:680px){

    .under-background{
        display: none;
    }

  }